.git
.gitignore

node_modules
dist
coverage
test

.env
.env.*
!.env.production.example

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

.idea
.vscode
.temp
.tmp

Dockerfile
docker-compose*.yml
README.md
GUIA_CLIENTE_API.md
Documentacion_API_Cliente_v1.md
data.md
notas.txt
