NODE_ENV=production
PORT=3000
APP_PORT=3000

DATABASE_URL=postgresql://postgres:ltqUXWw266@kavak-kavakmain-l53ymf:5432/kavak-db-main
POSTGRES_DB=tracker_core
POSTGRES_USER=tracker_core
POSTGRES_PASSWORD=change_me

JWT_SECRET=change_me_to_a_long_random_secret

WIALON_API_URL=https://hst-api.wialon.com/wialon/ajax.html
WIALON_TOKEN=your_wialon_token
WIALON_SYSTEM_USER_ID=uuid_del_usuario_sistema

WIALON_REQUEST_TIMEOUT_MS=60000
WIALON_COMMAND_TIMEOUT_SECONDS=60
WIALON_NO_REPORT_UNIT_FLAGS=2097153
WIALON_NO_REPORT_BATCH_SIZE=100

# Temporal si aun no hay migraciones TypeORM.
# Para produccion formal, usar migraciones y poner false.
TYPEORM_SYNCHRONIZE=true


NODE_ENV=production
PORT=3000

DATABASE_URL=postgresql://postgres:i[zAbV?619@kavak-kavakmain-l53ymf:5432/kavak-db-main

JWT_SECRET=sfc[@^b3.8QI|?Gq*dFadl?%{V^(.vX&ZTBm!8t:=&K

WIALON_API_URL=https://hst-api.wialon.com/wialon/ajax.html
WIALON_TOKEN=22d11435a1cfd5f9e01d504eed5da470946D12AB8045977DBA89DFB4D027582C2E5E1119
WIALON_SYSTEM_USER_ID=400248855

WIALON_REQUEST_TIMEOUT_MS=60000
WIALON_COMMAND_TIMEOUT_SECONDS=60
WIALON_NO_REPORT_UNIT_FLAGS=2097153
WIALON_NO_REPORT_BATCH_SIZE=100

TYPEORM_SYNCHRONIZE=true
