NODE_ENV=production
PORT=3000
APP_PORT=3000

DATABASE_URL=postgres://tracker_core:change_me@postgres:5432/tracker_core
POSTGRES_DB=tracker_core
POSTGRES_USER=tracker_core
POSTGRES_PASSWORD=change_me

JWT_SECRET=change_me_to_a_long_random_secret

WIALON_API_URL=https://hst-api.wialon.com/wialon/ajax.html
WIALON_TOKEN=your_wialon_token
WIALON_SYSTEM_USER_ID=uuid_del_usuario_sistema

WIALON_REQUEST_TIMEOUT_MS=60000
WIALON_COMMAND_TIMEOUT_SECONDS=60
WIALON_NO_REPORT_UNIT_FLAGS=2097153
WIALON_NO_REPORT_BATCH_SIZE=100

# Temporal si aun no hay migraciones TypeORM.
# Para produccion formal, usar migraciones y poner false.
TYPEORM_SYNCHRONIZE=true
